<h1>{{title}}</h1>

<div class="btn-group-center">
    <input type="text" placeholder="Select">
    <select name="" id="">
        <option value="1">Select Default</option>
        <option value="2">Hello Book</option>
    </select>
    <button class="btn btn-primary">Button</button>
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">@</span>
    </div>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>
